<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
	<test thread-count="3" name="Test">
	<parameter name="Browser" value="Edge"/>
	<parameter name="url" value="https://www.demoblaze.com/"/>
	<parameter name="userName1" value="mylu"/>
	<parameter name="passWord1" value="myl0616"/>
	<parameter name="userName2" value="my"/>
	<parameter name="passWord2" value="myl0616"/>
	<parameter name="userName3" value="mylu"/>
	<parameter name="passWord3" value="myl"/>
		<classes>
			<class name="com.test.NewTest" />
			
		</classes>
	</test> <!--
	Test -->
</suite> <!--
Suite -->
  